<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="margin: 10% 40%;">
		<form action="/a/b" method="post" enctype="multipart/form-data"
			target="_blank">
			<div style="margin: 5%;">
				<label for="nameFile"> 花名册: </label> <input type="file"
					id="nameFile" name="nameFile">
			</div>
			<div style="margin: 5%;">
				<label for="payFile"> 工资表: </label> <input type="file" id="payFile"
					name="payFile">
			</div>
			<div style="margin: 5%;">
				<label for="exportType1"> 银行卡: </label> <input type="radio"
					value="0" name="exportType" id='exportType1'  checked="checked"> <label
					for="exportType2"> 工资条: </label> <input type="radio" value="1"
					name="exportType" id='exportType2'>
			</div>

			<div style="margin: 5%;">
				<input type="submit">
			</div>
		</form>
	</div>
</body>
</html>